{% extends "base.html" %}
{% load index %}
{% load staticfiles %}
{% block title %}
Price Aggregator -- Save Your Money
{% endblock %}
{% block home_active %}
active
{% endblock %}

{% block body%}



{% csrf_token %}
<section class="home-slider owl-carousel" id='slider_three'>



  <div class="slider-item0" id="slider0"
    style="background-image:url(https://1.bp.blogspot.com/-yIhXlQfYN1E/WMksG192LLI/AAAAAAAAA9w/txsqdQfykVksDEFshayeN54c0Gu6C3AAwCLcB/s1600/glow.gif);">

    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
        <div class="col-md-6 text p-4 ftco-animate">
          <h1 class="mb-3_slider-item0"></h1>
          <span class="location_slider-item0 d-block mb-3"><i class="icon-my_location"></i> </span>
          <hr>
          <span class="price_slider-item0"></span>
          <a target="_blank" href="" class="btn-custom0 p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item1" id="slider0"
    style="background-image:url(https://1.bp.blogspot.com/-yIhXlQfYN1E/WMksG192LLI/AAAAAAAAA9w/txsqdQfykVksDEFshayeN54c0Gu6C3AAwCLcB/s1600/glow.gif);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
        <div class="col-md-6 text p-4 ftco-animate">
          <h1 class="mb-3_slider-item1"></h1>
          <span class="location_slider-item1 d-block mb-3"><i class="icon-my_location"></i> </span>
          <hr>
          <span class="price_slider-item1"></span>
          <a target="_blank" href="" class="btn-custom1 p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span> </a>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item2" id="slider0"
    style="background-image:url(https://1.bp.blogspot.com/-yIhXlQfYN1E/WMksG192LLI/AAAAAAAAA9w/txsqdQfykVksDEFshayeN54c0Gu6C3AAwCLcB/s1600/glow.gif);">

    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
        <div class="col-md-6 text p-4 ftco-animate">
          <h1 class="mb-3_slider-item2"></h1>
          <span class="location_slider-item2 d-block mb-3"><i class="icon-my_location_slider-item2"></i> </span>
          <hr>
          <span class="price_slider-item2"></span>
          <a target="_blank" href="" class="btn-custom2 p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
        </div>
      </div>
    </div>
  </div>

</section>




<section class="ftco-section ftco-properties">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Recent Posts</span>
        <h2 class="mb-4">Recent Selling Product</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="properties-slider owl-carousel ftco-animate">

        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
{% block script%}


<script type="text/javascript">
  console.log('updating data')
  csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  var qualifyURL = $('head base').attr('href');
  $.ajax({
    
      type: "put",
      url: qualifyURL+'api/product/',
      data: {
        'csrfmiddlewaretoken': csrfmiddlewaretoken,
      },
      beforeSend: function (xhr) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      },
      success: function (data) {
        console.log(data)
        //if the recent product is updated, ajax get the updated recent product data
        if (data['status'] == "success") {
          console.log('geting data')
          var qualifyURL = $('head base').attr('href');
          $.ajax({
            type: "GET",
            url: qualifyURL+'api/product/',
            data: {
              'csrfmiddlewaretoken': csrfmiddlewaretoken,
            },
            beforeSend: function (xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            success: function (data) {
              //if update is success 
              if (data['status'] == "success") {

                for (var i in data['message']['Carousell']) {
                  if (i < 3) {
                    var currentId = '.slider-item' + i
                    var currentPrice = '.price_slider-item' + i
                    var currentname = '.mb-3_slider-item' + i
                    var currentlink = '.btn-custom' + i
                    var currentTag = '.location_slider-item' + i
                    //var currentlink = '#slider_item'+i+'_link'
                    img = data['message']['Carousell'][i]['product_image_link'];
                    link = data['message']['Carousell'][i]['product_link'];
                    name = data['message']['Carousell'][i]['product_name'];
                    price = data['message']['Carousell'][i]['product_price'];
                    tag = data['message']['Carousell'][i]['product_tag'];
                    $(currentId).css("background-image", "url(" + img + ")");
                    $(currentlink).attr("href", link);
                    $(currentname).html(name);
                    $('.loadingdiv').css("display", "none");
                    $(currentPrice).html(price);
                    $(currentTag).append('<i class="icon-my_location"></i>')
                    $(currentTag).html('<i class="icon-my_location"></i> ' + tag);

                  }
                }
                for (var i in data['message']['Carousell']) {
                  var currentId = '.slider-item' + i
                  var currentPrice = '.price_slider-item' + i
                  var currentname = '.mb-3_slider-item' + i
                  var currentlink = '.btn-custom' + i
                  var currentTag = '.location_slider-item' + i
                  //var currentlink = '#slider_item'+i+'_link'
                  img = data['message']['Carousell'][i]['product_image_link'];
                  link = data['message']['Carousell'][i]['product_link'];
                  name = data['message']['Carousell'][i]['product_name'];
                  price = data['message']['Carousell'][i]['product_price'];
                  tag = data['message']['Carousell'][i]['product_tag'];
                  other_recent = '<div class="item"> <div class="properties"> <a target="_blank" href="' + link +
                    '" class="img d-flex justify-content-center align-items-center" style="background-image: url(' +
                    img +
                    ');"><div class="icon d-flex justify-content-center align-items-center"><span class="icon-search2"></span></div>              </a>              <div class="text p-3">                <span class="status sale">' +
                    tag +
                    '</span><div class="d-flex">                   <div class="one">                     <h3><a target="_blank" href="' +
                    link + '">' + name +
                    '</a></h3>                  </div>                  <div class="1">                    <span class="price">' +
                    price +
                    '</span>                  </div>                </div>              </div>            </div>          </div>'
                  $('.properties-slider').append(other_recent)
                }
                for (var i in data['message']['Dcfever']) {
                  var currentId = '.slider-item' + i
                  var currentPrice = '.price_slider-item' + i
                  var currentname = '.mb-3_slider-item' + i
                  var currentlink = '.btn-custom' + i
                  var currentTag = '.location_slider-item' + i
                  //var currentlink = '#slider_item'+i+'_link'
                  img = data['message']['Dcfever'][i]['product_image_link'];
                  link = data['message']['Dcfever'][i]['product_link'];
                  name = data['message']['Dcfever'][i]['product_name'];
                  price = data['message']['Dcfever'][i]['product_price'];
                  tag = data['message']['Dcfever'][i]['product_tag'];
                  other_recent = '<div class="item"> <div class="properties"> <a target="_blank" href="' + link +
                    '" class="img d-flex justify-content-center align-items-center" style="background-image: url(' +
                    img +
                    ');"><div class="icon d-flex justify-content-center align-items-center"><span class="icon-search2"></span></div>              </a>              <div class="text p-3">                <span class="status sale">' +
                    tag +
                    '</span><div class="d-flex">                   <div class="one">                     <h3><a target="_blank" href="' +
                    link + '">' + name +
                    '</a></h3>                  </div>                  <div class="1">                    <span class="price">' +
                    price +
                    '</span>                  </div>                </div>              </div>            </div>          </div>'
                  $('.properties-slider').append(other_recent)
                }
              }
            }

          })
        } else
        // the recent table is null , so need to use the post request to get the latest recent product
        {
          var qualifyURL = $('head base').attr('href');
          $.ajax({
            type: "post",
            url: qualifyURL+'api/product/',
            data: {
              'csrfmiddlewaretoken': csrfmiddlewaretoken,
            },
            beforeSend: function (xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            success: function (data) {
              console.log("geting the latest data ")
              if (data['status'] == "create recent product success") {

                for (var i in data['message']['Carousell']) {
                  if (i < 3) {
                    var currentId = '.slider-item' + i
                    var currentPrice = '.price_slider-item' + i
                    var currentname = '.mb-3_slider-item' + i
                    var currentlink = '.btn-custom' + i
                    var currentTag = '.location_slider-item' + i
                    //var currentlink = '#slider_item'+i+'_link'
                    img = data['message']['Carousell'][i]['product_image_link'];
                    link = data['message']['Carousell'][i]['product_link'];
                    name = data['message']['Carousell'][i]['product_name'];
                    price = data['message']['Carousell'][i]['product_price'];
                    tag = data['message']['Carousell'][i]['product_tag'];
                    $(currentId).css("background-image", "url(" + img + ")");
                    $(currentlink).attr("href", link);
                    $(currentname).html(name);
                    $('.loadingdiv').css("display", "none");
                    $(currentPrice).html(price);
                    $(currentTag).append('<i class="icon-my_location"></i>')
                    $(currentTag).html('<i class="icon-my_location"></i> ' + tag);

                  }
                }
                for (var i in data['message']['Carousell']) {
                  var currentId = '.slider-item' + i
                  var currentPrice = '.price_slider-item' + i
                  var currentname = '.mb-3_slider-item' + i
                  var currentlink = '.btn-custom' + i
                  var currentTag = '.location_slider-item' + i
                  //var currentlink = '#slider_item'+i+'_link'
                  img = data['message']['Carousell'][i]['product_image_link'];
                  link = data['message']['Carousell'][i]['product_link'];
                  name = data['message']['Carousell'][i]['product_name'];
                  price = data['message']['Carousell'][i]['product_price'];
                  tag = data['message']['Carousell'][i]['product_tag'];
                  other_recent = '<div class="item"> <div class="properties"> <a  target="_blank" href="' + link +
                    '" class="img d-flex justify-content-center align-items-center" style="background-image: url(' +
                    img +
                    ');"><div class="icon d-flex justify-content-center align-items-center"><span class="icon-search2"></span></div>              </a>              <div class="text p-3">                <span class="status sale">' +
                    tag +
                    '</span><div class="d-flex">                   <div class="one">                     <h3><a target="_blank" href="' +
                    link + '">' + name +
                    '</a></h3>                  </div>                  <div class="1">                    <span class="price">' +
                    price +
                    '</span>                  </div>                </div>              </div>            </div>          </div>'
                  $('.properties-slider').append(other_recent)
                }
                for (var i in data['message']['Dcfever']) {
                  var currentId = '.slider-item' + i
                  var currentPrice = '.price_slider-item' + i
                  var currentname = '.mb-3_slider-item' + i
                  var currentlink = '.btn-custom' + i
                  var currentTag = '.location_slider-item' + i
                  //var currentlink = '#slider_item'+i+'_link'
                  img = data['message']['Dcfever'][i]['product_image_link'];
                  link = data['message']['Dcfever'][i]['product_link'];
                  name = data['message']['Dcfever'][i]['product_name'];
                  price = data['message']['Dcfever'][i]['product_price'];
                  tag = data['message']['Dcfever'][i]['product_tag'];
                  other_recent = '<div class="item"> <div class="properties"> <a target="_blank" href="' + link +
                    '" class="img d-flex justify-content-center align-items-center" style="background-image: url(' +
                    img +
                    ');"><div class="icon d-flex justify-content-center align-items-center"><span class="icon-search2"></span></div>              </a>              <div class="text p-3">                <span class="status sale">' +
                    tag +
                    '</span><div class="d-flex">                   <div class="one">                     <h3><a target="_blank" href="' +
                    link + '">' + name +
                    '</a></h3>                  </div>                  <div class="1">                    <span class="price">' +
                    price +
                    '</span>                  </div>                </div>              </div>            </div>          </div>'
                  $('.properties-slider').append(other_recent)
                }
              }


            }
          })
        }
      }

    }

  )
</script>

{% endblock %}