{% extends "base.html" %}
{% load index %}
{% load staticfiles %}
{% block title %} 
Price Aggregator -- Save Your Money
 {% endblock %}
{% block home_active %}
active
{% endblock %}

{% block body%} 






    <section class="home-slider owl-carousel">
        {% for i in random_recommendation %}
      <div class="slider-item" style="background-image:url({{ i | index:0 }});">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
          <div class="col-md-6 text p-4 ftco-animate">
            <h1 class="mb-3">{{ i | index:2 }}</h1> 
            <span class="location d-block mb-3"><i class="icon-my_location"></i> {{ i | index:-1 }}</span>
            <p>''''''</p>
            <span class="price">{{ i | index:3 }}</span>
            <a href="{{ i | index:1 }}" class="btn-custom p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
          </div>
        </div>
        </div>
      </div>
{% endfor %}
    </section>

    <section class="ftco-search">
        <div class="container">
            <div class="row">
                    <div class="col-md-12 search-wrap">
                        <h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> Search Product</h2>
                        <form action="/Search/" class="search-property" method="get">
                    <div class="row">
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Keyword </label>
                            <div class="form-field">
                                <div class="icon"><span class="icon-pencil"></span></div>
                            <input type="text" name="keyword" class="form-control" placeholder="Keyword">
                          </div>
                      </div>
                        </div>

                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Product Type  (dcfever only)</label>
                                <div class="form-field">
                                <div class="select-wrap">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="seach_type" id="" class="form-control">
                                <option value="All" class="option_value">All</option>
                                <option value="Mobile Communication" class="option_value">Mobile Communication</option>
                                <option value="Photography" class="option_value">Photography</option>
                                <option value="Computer" class="option_value">Computer</option>
                                <option value="Audio" class="option_value">Audio</option>
                                <option value="Game" class="option_value">Game</option>
                                <option value="Watch" class="option_value">Watch</option>
                                <option value="Clothing" class="option_value">Clothing</option>
                                <option value="Electrical appliances" class="option_value">Electrical appliances</option>
                                <option value="Other" class="option_value">Other</option>
                          </select>
                        </div>
                          </div>
                      </div>
                        </div>


                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Min Area </label>
                            <div class="form-field">
                                <div class="icon"><span class="icon-pencil"></span></div>
                            <input type="text" name="minarea" class="form-control" placeholder="Min Area">
                          </div>
                      </div>
                        </div>
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Max Area </label>
                            <div class="form-field">
                                <div class="icon"><span class="icon-pencil"></span></div>
                            <input type="text" name="maxarea" class="form-control" placeholder="Max Area">
                          </div>
                      </div>
                        </div>
                        <div class="col-md align-self-end">
                            <div class="form-group">
                                <div class="form-field">
                            <input type="submit"  value="Search" class="form-control btn btn-primary">
                          </div>
                      </div>
                        </div>
                    </div>
                </form>
                    </div>
            </div>
        </div>
    </section>



    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-pin"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Find Second hand product In The Anywhere</h3>
                <p>**************************</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">We Have Agents With Automatic Mnitoring</h3>
                <p>**************************</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-house"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Buy </h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-purse"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Find Much Cheaper Product To Save Your Money</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>



    <section class="ftco-section ftco-properties">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Recent Posts</span>
            <h2 class="mb-4">Recent Selling Product</h2>
          </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="properties-slider owl-carousel ftco-animate">
                        {% for i in product_datas %}



                        <div class="item">
                            <div class="properties">
                                <a href="{{ i | index:1 }}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{ i | index:0 }});">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3">
                                    <span class="status sale">{{ i | index:-1 }}</span>
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="{{ i | index:1 }}">{{ i | index:2 }}</a></h3>
                                        </div>
                                        <div class="1">
                                            <span class="price">{{ i | index:3 }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}