{% extends "base.html" %}
{% load index %}
{% load staticfiles %}
{% block title %}
Price Aggregator -- Save Your Money
{% endblock %}
{% block home_active %}
active
{% endblock %}

{% block body%}
<div class="hero-wrap" style="background-image : url({% static '/images/back_image.jpg' %})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Searching</span></p>
				<h1 class="mb-3 bread">Find Your Second Hand Product</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12 search-wrap">
				<h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> Search
					Product
				</h2>
				<div class="search-property">
					<div class="row">
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="Keyword">Keyword </label>
								<div class="form-field">
									<div class="icon"><span class="icon-pencil"></span></div>
									<input type="text" name="keyword" id="Keyword" class="form-control"
										placeholder="Keyword">
								</div>
							</div>
						</div>

						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="Product_type">Product Type (dcfever only)</label>
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<select name="seach_type" id="Product_type" class="form-control">
											<option value="All" class="option_value">All</option>
											<option value="Mobile Communication" class="option_value">Mobile
												Communication</option>
											<option value="Photography" class="option_value">Photography</option>
											<option value="Computer" class="option_value">Computer</option>
											<option value="Audio" class="option_value">Audio</option>
											<option value="Game" class="option_value">Game</option>
											<option value="Watch" class="option_value">Watch</option>
											<option value="Clothing" class="option_value">Clothing</option>
											<option value="Electrical appliances" class="option_value">Electrical
												appliances</option>
											<option value="Other" class="option_value">Other</option>
										</select>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="Min_price">Min Area </label>
								<div class="form-field">
									<div class="icon"><span class="icon-pencil"></span></div>
									<input type="text" id="minarea" name="minarea" class="form-control"
										placeholder="Min Area">
								</div>
							</div>
						</div>
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="Max_price">Max Area </label>
								<div class="form-field">
									<div class="icon"><span class="icon-pencil"></span></div>
									<input type="text" name="maxarea" id="maxarea" class="form-control"
										placeholder="Max Area">
								</div>
							</div>
						</div>
						<div class="col-md align-self-end">
							<div class="form-group">
								<div class="form-field">
									<input type="submit" id="btn_primary" value="Search"
										class="form-control btn btn-primary" id="search_btn" onclick="BtnSearch()" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section bg-light">
	<div class="container ">
		<div class="row" id="search_result">
		</div>
		<div class="result_container">
		</div>
	</div>

</section>


{% endblock %}
